body{
    background-image: url("https://media.istockphoto.com/id/1082532640/photo/mountain-peak-annapurna-view-from-pokhara-city-nepal.jpg?s=1024x1024&w=is&k=20&c=czr8c0JTX0yhWVx4_pEW3keo_nJX53XG51gEyAcxlFI="); 
    background-repeat: no-repeat; 
    background-size: 100%;
}